@model GameSource.ViewModels.GameSource.GameViewModel.GameDetailsViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject UserManager<User> userManager;
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = Model.Game.Name;

    var coverImageFilePath = "~/images/Game/CoverImage/" + (Model.Game.CoverImageFilePath ?? "default_game_cover_image.png");
}

<div class="details-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">Game</div>
            <div class="page-sub-heading">@Model.Game.Name</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <img class="game-cover-image" src="@coverImageFilePath" asp-append-version="true" />
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="Game.ID" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.Game.ID</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="Game.Description" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.Game.Description</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="Game.Genre" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.Genre.Name</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="Game.Developer" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.Developer.Name</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="Game.Publisher" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.Publisher.Name</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="Game.Platform" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.Platform.Name</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <hr />
            <input type="hidden" asp-for="SignedInUser.Id" id="userId" />
            <div id="create-review"></div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <hr />
            <div class="link-section">
                <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/review.js"></script>
}