@model GameSource.ViewModels.GameSource.GameViewModel.GameIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<div class="container">
    <a class="btn btn-primary" asp-controller="Games" asp-action="Create">Add a new Game</a>
    <a class="btn btn-primary" asp-controller="Genre" asp-action="Create">Add a new Genre</a>
    <a class="btn btn-primary" asp-controller="Developer" asp-action="Create">Add a new Developer</a>
    <a class="btn btn-primary" asp-controller="Publisher" asp-action="Create">Add a new Publisher</a>
    <a class="btn btn-primary" asp-controller="Platform" asp-action="Create">Add a new Platform</a>
    <a class="btn btn-primary" asp-controller="PlatformType" asp-action="Create">Add a new Platform Type</a>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Developer</th>
                <th>Publisher</th>
                <th>Description</th>
                <th>Platforms</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>@game.Name</td>
                    <td>@game.Genre.Name</td>
                    <td>@game.Developer.Name</td>
                    <td>@game.Publisher.Name</td>
                    <td>@game.Description</td>
                    <td>@game.Platform.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@game.ID">View</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@game.ID">Edit</a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@game.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

