@model GameSource.Areas.Admin.ViewModels.UserRoleViewModel.AdminUserRoleDetailsViewModel

@{
    ViewData["Title"] = Model.UserRole.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="details-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">User Role</div>
            <div class="page-sub-heading text-capitalize">@Model.UserRole.Name</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="UserRole.Id" class="control-label font-weight-bold">ID</label>
        </div>
        <div class="col-2">
            <div>@Model.UserRole.Id</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="UserRole.Name" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.UserRole.Name</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="UserRole.Description" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.UserRole.Description</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <hr />
            <div class="link-section">
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.UserRole.Id">Edit</a>
                    <a class="btn btn-primary index-link" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>