@model GameSource.Areas.Admin.ViewModels.UserRoleViewModel.AdminUserRoleIndexViewModel

@{
    ViewData["Title"] = "Admin - User Role Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="index-page page-content">
    <div class="row">
        <div class="col-12">
            <div class="page-heading">Admin</div>
            <div class="page-sub-heading text-uppercase">User Role Index</div>
            <hr />
            <a class="btn btn-primary" asp-area="Admin" asp-controller="UserRole" asp-action="Create">Create a new User Role</a>
            <hr />
            <table class="table text-light">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserRoles)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="UserRole" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="UserRole" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="UserRole" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>