@model GameSource.ViewModels.GameSource.ReviewViewModel.ReviewDetailsViewModel

@{
    ViewData["Title"] = Model.Review.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="details-page page-content">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="page-heading">Review</div>
                <div class="page-sub-heading">@Model.Review.Title</div>
                <hr />
            </div>
        </div>
        <div class="row justify-content-center text-left">
            <div class="col-2">
                <label asp-for="Review.DateCreated" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-2">
                <div>@Model.Review.DateCreated</div>
            </div>
        </div>
        <div class="row justify-content-center text-left">
            <div class="col-2">
                <label asp-for="Review.DateModified" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-2">
                <div>@Model.Review.DateModified</div>
            </div>
        </div>
        @*<div class="row justify-content-center text-left">
            <div class="col-2">
                <label asp-for="Review.Game" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-2">
                <div>@Model.Review.Game</div>
            </div>
        </div>*@
        <div class="row justify-content-center text-left">
            <div class="col-2">
                <label asp-for="Review.Body" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-2">
                <div>@Html.Raw(Model.Review.Body)</div>
            </div>
        </div>
        @*<div class="row justify-content-center text-left">
            <div class="col-2">
                <label asp-for="Review.ReviewComments" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-2">
                <div>@Model.Review.ReviewComments</div>
            </div>
        </div>*@
        <div class="row justify-content-center">
            <div class="col-4">
                <hr />
                <div class="link-section">
                    <div class="form-group">
                        <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
                    </div>
                </div>
            </div>
        </div>
    </div>