@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileViewModel.UserProfileDetailsViewModel
@using GameSource.Areas.GameSourceUser.ViewModels.UserProfileCommentViewModel
@using GameSource.Models.GameSourceUser

@{
    ViewData["Title"] = Model.UserProfile.User.UserName + "'s Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var avatarImageFilePath = "~/Images/UserProfile/Avatar/" + (Model.UserProfile.AvatarFilePath ?? "default_avatar.png");
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="userprofile-avatar-image">
                <img src="@avatarImageFilePath" asp-append-version="true" />
            </div>
        </div>
        <div class="col-md-8">
            <input type="hidden" asp-for="UserProfile.ID" id="userProfileId"/>

            @{
                if (Model.UserProfile.DisplayName == null)
                {
                    <h1 class="page-heading-username">@Model.UserProfile.User.UserName</h1>
                }
                else
                {
                    <h1 class="page-heading-username">@Model.UserProfile.DisplayName</h1>
                }
            }
            <p>@Model.User.FullName</p>
            <p>@Model.UserProfile.Biography</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="control-label font-weight-bold page-heading" id="userprofile-comments-header">Comments</h2>

            <div id="userprofile-create-comment"></div>

            @foreach (var comment in Model.UserProfileComments)
            {
                <div class="" id="userprofile-comment-section">
                    <p class="text-bold">@comment.CreatedBy <span class="small">@comment.DateCreated</span></p>
                    <p class="">@comment.Body</p>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/userprofile-comments.js"></script>
}