@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileViewModel.UserProfileDetailsViewModel
@using GameSource.Models.GameSourceUser;
@using GameSource.Models.GameSourceUser.Enums;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = Model.UserProfile.User.UserName + "'s Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var avatarImageFilePath = "~/Images/UserProfile/Avatar/" + (Model.UserProfile.AvatarFilePath ?? "default_avatar.png");
}

@if (Model.User.UserProfile.UserProfileVisibilityID == (int)UserProfileVisibilityEnum.Everyone)
{
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-avatar-image">
                <img src="@avatarImageFilePath" asp-append-version="true" />
            </div>
        </div>
        <div class="col-md-8">
            <input type="hidden" asp-for="UserProfile.ID" id="userProfileId" />
            <div class="profile-heading">
                @{
                    <div class="profile-heading-username">
                        @if (Model.UserProfile.DisplayName == null)
                        {
                            @Model.UserProfile.User.UserName
                        }
                        else
                        {
                            @Model.UserProfile.DisplayName
                        }

                        @if (Model.User.UserRoleID == (int)UserRoleEnum.Admin)
                        {
                            <div class="role-tag-base admin-role-tag">Admin</div>
                        }

                        @if (Model.User.UserRoleID == (int)UserRoleEnum.Moderator)
                        {
                            <div class="role-tag-base moderator-role-tag">Moderator</div>
                        }
                    </div>
                }
            </div>
            <p>@Model.User.FullName</p>
            <p>@Model.UserProfile.Biography</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="userprofile-create-comment"></div>

            @if (Model.User.UserProfile.UserProfileVisibilityID == (int)UserProfileVisibilityEnum.Everyone)
            {
                @foreach (var comment in Model.UserProfileComments)
                {
                    <div class="" id="userprofile-comment-section">
                        <p class="text-bold">@comment.CreatedBy <span class="small">@comment.DateCreated</span></p>
                        <p class="">@comment.Body</p>
                    </div>
                }
            }
            else if (Model.User.UserProfile.UserProfileCommentPermissionID == (int)UserProfileCommentPermissionEnum.Nobody)
            {
                <p><span>@Model.UserProfile.User.UserName</span>'s comments are <span>@Model.UserProfile.UserProfileVisibility.Name</span></p>
            }
            else if (Model.User.UserProfile.UserProfileVisibilityID == (int)UserProfileCommentPermissionEnum.FriendsOnly)
            {
                <p><span>@Model.UserProfile.User.UserName</span>'s comments are <span>@Model.UserProfile.UserProfileVisibility.Name</span></p>
            }
        </div>
    </div>
</div>
}
else if (Model.User.UserProfile.UserProfileVisibilityID == (int)UserProfileVisibilityEnum.Private)
{
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="userprofile-avatar-image">
                <img src="@avatarImageFilePath" asp-append-version="true" />
            </div>
        </div>
        <div class="col-md-8">
            <input type="hidden" asp-for="UserProfile.ID" id="userProfileId" />

            @{
                if (Model.UserProfile.DisplayName == null)
                {
                    <h1 class="page-heading-username">@Model.UserProfile.User.UserName</h1>
                }
                else
                {
                    <h1 class="page-heading-username">@Model.UserProfile.DisplayName</h1>
                }
            }
            <p>This profile is set to <span>@Model.UserProfile.UserProfileVisibility.Name</span>.</p>
        </div>
    </div>
</div>
}
else if (Model.User.UserProfile.UserProfileVisibility.ID == (int)UserProfileVisibilityEnum.FriendsOnly)
{
}

@section scripts {
    <script src="~/js/userprofile-comments.js"></script>
}