@model GameSource.ViewModels.PlatformViewModel.PlatformIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Platform Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var platform in Model.Platforms)
            {
            <tr>
                <td>@platform.Name</td>
                <td>@platform.PlatformType.Name</td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@platform.ID">View</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@platform.ID">Edit</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@platform.ID">Delete</a>
                </td>
            </tr>
            }
            </tbody>
    </table>
</div>

