@model GameSource.ViewModels.GameSourceUser.UserViewModel.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserStatus.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRole.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-controller="Admin" asp-action="EditUser" asp-route-id="@Model.User.Id">Edit</a> |
    <a asp-area="Admin" asp-controller="Admin" asp-action="UserIndex">Back to List</a>
</div>
