@model GameSource.Areas.Admin.ViewModels.AdminUserViewModel.AdminUserDetailsViewModel

@{
    ViewData["Title"] = Model.User.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="details-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading username-heading">@Model.User.UserName</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.Id" class="control-label font-weight-bold">ID</label>
        </div>
        <div class="col-2">
            <div>@Model.User.Id</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.UserName" class="control-label font-weight-bold">Username</label>
        </div>
        <div class="col-2">
            <div>@Model.User.UserName</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.Email" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.User.Email</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.UserStatus" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.User.UserStatus.Name</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.UserRole" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.User.UserRole.Name</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.FirstName" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.User.FirstName</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.LastName" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.User.LastName</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.Age" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.User.Age</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.Location" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.User.Location</div>
        </div>
    </div>
    <div class="row justify-content-center text-left">
        <div class="col-2">
            <label asp-for="User.DateCreated" class="control-label font-weight-bold"></label>
        </div>
        <div class="col-2">
            <div>@Model.User.DateCreated</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <hr />
            <div class="link-section">
                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.User.Id">Edit</a>
                    <a class="btn btn-primary index-link" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>