@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject UserManager<User> userManager;
@inject SignInManager<User> signInManager;
@inject RoleManager<UserRole> roleManager;

@{
    ViewBag.UserID = userManager.GetUserId(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameSource</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GameSource</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse Games</a>
                            <ul class="dropdown-menu dropdown-columns" aria-labelledby="navbarDropdown">
                                <div id="browse-games-page"></div>

                                @*<div><p class="dropdown-header font-weight-bold">By Genre</p></div>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item">Sci-Fi</a></li>

                                <div><p class="dropdown-header font-weight-bold">By Platforms</p></div>
                                <li><div class="dropdown-divider"></div></li>
                                <li><a class="dropdown-item">PC</a></li>*@
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Database</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="nav-link dropdown-item" asp-controller="Games" asp-action="Index">View All Games</a></li>
                                <li><a class="nav-link dropdown-item" asp-controller="Genre" asp-action="Index">View All Genres</a></li>
                                <li><a class="nav-link dropdown-item" asp-controller="Developer" asp-action="Index">View All Developers</a></li>
                                <li><a class="nav-link dropdown-item" asp-controller="Publisher" asp-action="Index">View All Publishers</a></li>
                                <li><a class="nav-link dropdown-item" asp-controller="Platform" asp-action="Index">View All Platforms</a></li>
                                <li><a class="nav-link dropdown-item" asp-controller="PlatformType" asp-action="Index">View All Platform Types</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="NewsArticle" asp-action="Index">News</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="nav-link dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">View All Users</a></li>
                                <li><a class="nav-link dropdown-item" asp-area="Admin" asp-controller="UserRole" asp-action="Index">View All User Roles</a></li>
                                <li><a class="nav-link dropdown-item" asp-area="Admin" asp-controller="UserStatus" asp-action="Index">View All User Statuses</a></li>
                            </ul>
                        </li>
                        }

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="nav-link dropdown-item" asp-area="GameSourceUser" asp-controller="UserProfile" asp-action="Profile" asp-route-id="@ViewBag.UserID">View my profile</a></li>
                                    <li><a class="nav-link dropdown-item" asp-area="GameSourceUser" asp-controller="UserProfile" asp-action="ProfileSettings" asp-route-id="@ViewBag.UserID">Profile settings</a></li>
                                    <li><a class="nav-link dropdown-item" asp-area="GameSourceUser" asp-controller="UserProfile" asp-action="AccountSettings" asp-route-id="@ViewBag.UserID">Account settings</a></li>
                                    <li><a class="nav-link dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="divider"></div>
            <div class="footer-content">
                &copy; 2020 - GameSource
            </div>
            <div class="divider"></div>
            <div class="footer-links">
                <a asp-area="" asp-controller="Home" asp-action="About">About GameSource</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login-system.js"></script>
    <script src="~/vue/js/app.js"></script>
    <script>
        new Vue({
        }).$mount('#browse-games-page');
    </script>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
