@model GameSource.ViewModels.GameSource.NewsArticleViewModel.NewsArticleDetailsViewModel

@{
    ViewData["Title"] = Model.NewsArticle.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="details-page page-content" id="news-article-container">
    <div class="row justify-content-center">
        <div class="col-12">
            <header class="page-heading" id="news-article-header">
                <div class="" id="news-article-title">@Model.NewsArticle.Title</div>
                <span class="" id="news-article-dateCreated">@Model.NewsArticle.DateCreated</span>
                <span class="" id="news-article-createdBy">@Model.NewsArticle.CreatedBy</span>
            </header>
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="" id="news-article-body">@Html.Raw(@Model.NewsArticle.Body)</p>
            <hr />
            <div class="link-section">
                <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
            </div>
        </div>
    </div>
</article>