@model GameSource.ViewModels.GameSource.NewsArticleViewModel.NewsArticleDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="NewsArticle.Title" class="control-label font-weight-bold"></label><p>@Model.NewsArticle.Title</p>
            <label asp-for="NewsArticle.Body" class="control-label font-weight-bold"></label><p>@Model.NewsArticle.Body</p>
            <label asp-for="NewsArticle.CreatedBy" class="control-label font-weight-bold"></label><p>@Model.NewsArticle.CreatedBy</p>
            <label asp-for="NewsArticle.DateCreated" class="control-label font-weight-bold"></label><p>@Model.NewsArticle.DateCreated</p>
            <label asp-for="NewsArticle.DateModified" class="control-label font-weight-bold"></label><p>@Model.NewsArticle.DateModified</p>
        </div>
    </div>
</div>