@model GameSource.ViewModels.GameSource.NewsArticleViewModel.NewsArticleIndexViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject UserManager<User> userManager;
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Index</h1>

<div class="container">
    @if (signInManager.IsSignedIn(User))
    {
        <p>
            <a class="btn btn-primary" asp-controller="NewsArticle" asp-action="Create">Create a new News Article</a>
        </p>
    }

    @foreach (var newsArticle in Model.NewsArticles)
    {
        <h2>@newsArticle.Title</h2>
        <p>@newsArticle.CreatedBy</p>
        <p>@newsArticle.DateCreated</p>
        <p>@newsArticle.DateModified</p>
        <a class="btn btn-primary" asp-action="Details" asp-route-id="@newsArticle.ID">View</a>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@newsArticle.ID">Edit</a>
        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@newsArticle.ID">Delete</a>
        <br />
    }
</div>
