@model GameSource.ViewModels.GameSource.NewsArticleViewModel.NewsArticleIndexViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject UserManager<User> userManager;
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">All News</h1>

<div class="container">
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <p>
            <a class="btn btn-primary" asp-controller="NewsArticle" asp-action="Create">Create a new News Article</a>
        </p>
    }

    <div class="divider"></div>
    <div class="" id="news-article-post-block">
        @foreach (var newsArticle in Model.NewsArticles)
        {
            <h2>@newsArticle.Title</h2>
            <p>@newsArticle.Body</p>
            <p>@newsArticle.CreatedBy</p>
            <p>@newsArticle.DateCreated</p>
            <p>@newsArticle.DateModified</p>
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@newsArticle.ID">View</a>

            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@newsArticle.ID">Edit</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@newsArticle.ID">Delete</a>
            }
            <br />
        }
    </div>
    <div class="divider"></div>
</div>
